server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "ChangeMotDePasseIci123"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    youtubePlaylistLoadLimit: 6
    playerUpdateInterval: 5
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true

logging:
  level:
    root: INFO
    lavalink: INFO
